
.hero_area{
   background-image: url('../../img/bannerbackground.png');
   background-attachment: scroll;
   background-size: cover;
   background-position: center;
   height: 520px;
}
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 55px;
  background-color: #fff;
  border-radius: 30px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar .search_input {
  padding: 0 30px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
  font-weight: 500;
}
.search_btn {
  background: #cc0000;
  border: none;
  padding: 15.5px 30px;
  border-radius: 30px;
  font-weight: 700;
}
